.addProductButton {
    -fx-background-radius: 32px;
    -fx-min-height: 32px;
    -fx-max-height: 32px;
    -fx-min-width: 32px;
    -fx-max-width: 32px;
}

.removeProductButton {
    -fx-background-radius: 24px;
    -fx-min-height: 24px;
    -fx-max-height: 24px;
    -fx-min-width: 24px;
    -fx-max-width: 24px;
}